# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/

# SQLite database
alerts.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python virtual environment
.venv/
env/
